*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  gap: 18px;
}

.inputs{
  display: flex;
  flex-direction: column;
}

span{
  font-weight: 500;
}

input{
  height: 25px;
  padding-left: 10px;
  border: 1px solid red;
  outline: none;
}

input:focus{
  border: 1px solid rgb(0, 110, 255);
  outline: none;
}

button{
  height: 40px;
  background-color: #0D6EFD;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.passed{
  border: 1px solid green;
}